---
layout: default
---

<!-- Other page content -->

<head>
    <!-- Other head content... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<div class="navbar">
    <button id="feedButton" class="navbar-item" onclick="switchContent('Feed')">Feed</button>
    <button class="navbar-item" onclick="switchContent('math')">Math</button>
    <button class="navbar-item" onclick="switchContent('data')">Data</button>
    <button class="navbar-item" onclick="switchContent('ml')">Machine Learning</button>
    <button class="navbar-item" onclick="switchContent('python')">Python</button>
    <button class="navbar-item" onclick="switchContent('book')">Books</button>
    <button class="navbar-item" onclick="switchContent('intro')">About</button>
</div>
  
  <div id="posts">
  {% for post in site.posts %}
    <div class="post" {% for category in post.categories %}data-category-{{ category }} {% endfor %}>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p>{{ post.date | date: "%B %d, %Y" }}</p>
      <p>{{ post.excerpt }}</p>
      <hr>
    </div>
  {% endfor %}
  </div>

  {% include footer.html %}
  
  <script>
  function switchContent(category) {
    // Hide all posts
    document.querySelectorAll('.post').forEach(function(post) {
      post.style.display = 'none';
    });
  
    // If the selected category is 'Feed', show all posts
    // otherwise, only show posts of the selected category
    if (category === 'Feed') {
      document.querySelectorAll('.post').forEach(function(post) {
        post.style.display = 'block';
      });
    } else {
      document.querySelectorAll('.post[data-category-' + category + ']').forEach(function(post) {
        post.style.display = 'block';
      });
    }
  
    // Remove the selected class from all navbar items
    document.querySelectorAll('.navbar-item').forEach(function(item) {
      item.classList.remove('selected');
    });
  
    // Add the selected class to the selected navbar item
    document.querySelector('.navbar-item[onclick="switchContent(\'' + category + '\')"]').classList.add('selected');

  }
  
  // Select the 'Feed' category initially
  window.onload = function() {
    switchContent('Feed');
  };
  </script>
  